.dragme{
    position: absolute;
    cursor: pointer;
    width: auto;
}


#about{
    cursor: move;
    max-width: 400px;
    z-index:1;
}

#logo{
    max-width: 600px;
    z-index:2;
}

body {
    overflow:hidden;
}

