.dragme{
    position: absolute;
    cursor: pointer;
    width: auto;
}


#about{
    cursor: move;
    max-width: 400px;
    z-index:1;
}

#logo{
    max-width: 600px;
    z-index:2;
}

body {
    overflow:hidden;
}

#overlay_container {
    position:absolute;
    height:100%;
    width:100%;
    z-index:10;
    background-color:rgba(0, 0, 0, .7);
}

#overlay {
    background-color:white;
    border:none;
    width:90%;
    height:90%;
    margin:5%;
}

#draggable {
    height:100%;
    width:100%;
}